 *{
    margin: 0px;
 }
 /* common shared style  */
 body{

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap');
  font-family: 'Open Sans', sans-serif
 }
#one-word-clr{
color: #FD6E0A;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;}

nav > ul{
    display: flex;
    align-items: center;
}
nav  li{
    text-align: right;
    list-style: none;
    margin-right: 50px;
}
nav a{
   
    text-decoration: none;
   color: #474747 ;
}
.btn-primary{
background: #FD6E0A;
color: #fff;
border: 0;
border-radius:5px;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;
}
/* header related style */
.header {
    background-color: #FFF8F3;;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  
}
.banner {
    padding: 30px 30px 0px 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content
{
    max-width: 650px;
}
.profile-pic{
    width: 584px;
    height: 700px;

}
.banner-greeting{
    font-size: 45px;
    color: #181818;
    margin-bottom: 5px;
}
    .banner-title{
            color: #181818;
            font-size: 85px;
        font-weight: 700;
        margin-top: 0px;
}
.banner-decrip {
font-size: 18px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 30px;

}
.btn-margin{
    margin-top: 30px;
}

/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about{
    margin: 130px 0;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}
.section-title{
  
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom:20px
}
.section-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;

}
.about-info-container{
display: flex;
justify-content: space-between;
}
.about-info{
    text-align: center;
}
/* what I do section style */

#what-i-do-des{
    padding:0px 146px ;
}
.skills-container{
    display: flex;
    gap: 30px;
    
.skills{
    padding: 33px;
    border-radius: 5px;
background:  #FFF8F3;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

}


.skills-description{
    color:  #757575;
font-size: 16px;

}
/* resume section */
.rm{
    margin-top: 130px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    text-align: left;


}
.resume-container{
    display: flex;
    gap: 50px;
    
}
.resume-item-description{
padding-right: 70px;}
.resume-column-title{
margin-top: 30px;}
.resume-item-description, resume-item-institute{
    color:#757575 ;
    /* margin-bottom: 30px; */
}
.resume-item-institute{
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
margin-top: 10px;
}
.hr-line{
    width: 558px;
height: 1px;
margin-bottom: 30px;
}
.resume-item-title{
    color:  #474747;
font-size: 25px;
font-weight: 700;
margin-top: 40px;
/* margin-top: 70p;
margin-bottom: 50px; */
}
 .dwnld-cv{
    text-align: center;
    margin-top: 60px;
 }
/* footer{

    text-align: center;
} */